<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.winchampion.credit.business.dao.FaqManageDao">

	<select id="get" resultType="com.winchampion.credit.business.domain.FaqManageDO">
		select f.`ID`,f.`faq_no`,f.`faq_title`,f.`sort`,f.`faq_content`,f.`is_release`,f.`create_date`,f.`create_by`,
		f.`update_date`,f.`update_by`,f.`del_flag`,u.name AS 'updateByName' from tb_faq_manage f
		left join sys_user u on f.update_by = u.user_id
	   where ID = #{value}
	</select>

	<select id="list" resultType="com.winchampion.credit.business.domain.FaqManageDO">
		select f.`ID`,f.`faq_no`,f.`faq_title`,f.`sort`,f.`faq_content`,f.`is_release`,f.`create_date`,f.`create_by`,
		f.`update_date`,f.`update_by`,f.`del_flag`,u.name AS 'updateByName' from tb_faq_manage f
		left join sys_user u on f.update_by = u.user_id
        <where>  
		  		  <if test="id != null and id != ''"> and f.ID = #{id} </if>
		  		  <if test="faqNo != null and faqNo != ''"> and f.faq_no = #{faqNo} </if>
		  		  <if test="faqTitle != null and faqTitle != ''"> and f.faq_title = #{faqTitle} </if>
		  		  <if test="sort != null and sort != ''"> and f.sort = #{sort} </if>
		  		  <if test="faqContent != null and faqContent != ''"> and f.faq_content = #{faqContent} </if>
		  		  <if test="isRelease != null and isRelease != ''"> and f.is_release = #{isRelease} </if>
		  		  <if test="createDate != null and createDate != ''"> and f.create_date = #{createDate} </if>
		  		  <if test="createBy != null and createBy != ''"> and f.create_by = #{createBy} </if>
		  		  <if test="updateDate != null and updateDate != ''"> and f.update_date = #{updateDate} </if>
		  		  <if test="updateBy != null and updateBy != ''"> and f.update_by = #{updateBy} </if>
		  		  <if test="delFlag != null and delFlag != ''"> and f.del_flag = #{delFlag} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by (case when f.sort is null|| f.sort='' then 99999999999 else f.sort end) ASC
            </when>
			<otherwise>
                order by f.ID desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from tb_faq_manage
		 <where>  
		  		  <if test="id != null and id != ''"> and ID = #{id} </if>
		  		  <if test="faqNo != null and faqNo != ''"> and faq_no = #{faqNo} </if>
		  		  <if test="faqTitle != null and faqTitle != ''"> and faq_title = #{faqTitle} </if>
		  		  <if test="sort != null and sort != ''"> and sort = #{sort} </if>
		  		  <if test="faqContent != null and faqContent != ''"> and faq_content = #{faqContent} </if>
		  		  <if test="isRelease != null and isRelease != ''"> and is_release = #{isRelease} </if>
		  		  <if test="createDate != null and createDate != ''"> and create_date = #{createDate} </if>
		  		  <if test="createBy != null and createBy != ''"> and create_by = #{createBy} </if>
		  		  <if test="updateDate != null and updateDate != ''"> and update_date = #{updateDate} </if>
		  		  <if test="updateBy != null and updateBy != ''"> and update_by = #{updateBy} </if>
		  		  <if test="delFlag != null and delFlag != ''"> and del_flag = #{delFlag} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.winchampion.credit.business.domain.FaqManageDO">
		insert into tb_faq_manage
		(
			`ID`, 
			`faq_no`, 
			`faq_title`, 
			`sort`, 
			`faq_content`, 
			`is_release`, 
			`create_date`, 
			`create_by`, 
			`update_date`, 
			`update_by`, 
			`del_flag`
		)
		values
		(
			#{id}, 
			#{faqNo}, 
			#{faqTitle}, 
			#{sort}, 
			#{faqContent}, 
			#{isRelease}, 
			#{createDate}, 
			#{createBy}, 
			#{updateDate}, 
			#{updateBy}, 
			#{delFlag}
		)
	</insert>
	 
	<update id="update" parameterType="com.winchampion.credit.business.domain.FaqManageDO">
		update tb_faq_manage 
		<set>
			<if test="faqNo != null">`faq_no` = #{faqNo}, </if>
			<if test="faqTitle != null">`faq_title` = #{faqTitle}, </if>
			<if test="sort != null">`sort` = #{sort}, </if>
			<if test="faqContent != null">`faq_content` = #{faqContent}, </if>
			<if test="isRelease != null">`is_release` = #{isRelease}, </if>
			<if test="createDate != null">`create_date` = #{createDate}, </if>
			<if test="createBy != null">`create_by` = #{createBy}, </if>
			<if test="updateDate != null">`update_date` = #{updateDate}, </if>
			<if test="updateBy != null">`update_by` = #{updateBy}, </if>
			<if test="delFlag != null">`del_flag` = #{delFlag}</if>
		</set>
		where ID = #{id}
	</update>
	
	<delete id="remove">
		delete from tb_faq_manage where ID = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from tb_faq_manage where ID in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>