<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.winchampion.credit.business.dao.WechatAdvertDao">

	<select id="get" resultType="com.winchampion.credit.business.domain.WechatAdvertDO">
		select `id`,`advert_name`,`sort`,`advert_file`,`advert_href`,`is_Release`,`create_date`,`create_by`,`update_date`,`update_by`,`del_flag` from tb_wechat_advert where id = #{value}
	</select>

	<select id="list" resultType="com.winchampion.credit.business.domain.WechatAdvertDO">
	SELECT
			tb_wechat_advert.ID as id,
			tb_wechat_advert.advert_name as advert_name,
			tb_wechat_advert.sort as sort,
			tb_wechat_advert.advert_file as advert_file,
			tb_wechat_advert.advert_href as advert_href,
			tb_wechat_advert.is_Release as is_release,
			tb_wechat_advert.create_date as create_date,
			tb_wechat_advert.create_by as create_by,
			tb_wechat_advert.update_date as update_date,
			tb_wechat_advert.update_by as update_by,
			tb_wechat_advert.del_flag del_flag,
		  sys_user.name as 'updateUserDo.name'
		FROM
			tb_wechat_advert tb_wechat_advert
		 left JOIN
			sys_user on tb_wechat_advert.update_by = sys_user.user_id
        <where>  
        		tb_wechat_advert.del_flag  = '0'
		  		  <if test="id != null and id != ''"> and tb_wechat_advert.ID = #{id} </if>
		  		  <if test="advertName != null and advertName != ''"> and tb_wechat_advert.advert_name = #{advertName} </if>
		  		  <if test="sort != null and sort != ''"> and tb_wechat_advert.sort = #{sort} </if>
		  		  <if test="advertFile != null and advertFile != ''"> and tb_wechat_advert.advert_file = #{advertFile} </if>
		  		  <if test="advertHref != null and advertHref != ''"> and tb_wechat_advert.advert_href = #{advertHref} </if>
		  		  <if test="isRelease != null and isRelease != ''"> and tb_wechat_advert.is_Release = #{isRelease} </if>
		  		  <if test="createDate != null and createDate != ''"> and tb_wechat_advert.create_date = #{createDate} </if>
		  		  <if test="createBy != null and createBy != ''"> and tb_wechat_advert.create_by = #{createBy} </if>
		  		  <if test="updateDate != null and updateDate != ''"> and tb_wechat_advert.update_date = #{updateDate} </if>
		  		  <if test="updateBy != null and updateBy != ''"> and tb_wechat_advert.update_by = #{updateBy} </if>
		  		  <if test="delFlag != null and delFlag != ''"> and tb_wechat_advert.del_flag = #{delFlag} </if>
		  		</where>
		  		 order by sort,update_date desc
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from tb_wechat_advert
		 <where>  
			 del_flag  = '0'
		  		  <if test="id != null and id != ''"> and ID = #{id} </if>
		  		  <if test="advertName != null and advertName != ''"> and advert_name = #{advertName} </if>
		  		  <if test="sort != null and sort != ''"> and sort = #{sort} </if>
		  		  <if test="advertFile != null and advertFile != ''"> and advert_file = #{advertFile} </if>
		  		  <if test="advertHref != null and advertHref != ''"> and advert_href = #{advertHref} </if>
		  		  <if test="isRelease != null and isRelease != ''"> and is_Release = #{isRelease} </if>
		  		  <if test="createDate != null and createDate != ''"> and create_date = #{createDate} </if>
		  		  <if test="createBy != null and createBy != ''"> and create_by = #{createBy} </if>
		  		  <if test="updateDate != null and updateDate != ''"> and update_date = #{updateDate} </if>
		  		  <if test="updateBy != null and updateBy != ''"> and update_by = #{updateBy} </if>
		  		  <if test="delFlag != null and delFlag != ''"> and del_flag = #{delFlag} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.winchampion.credit.business.domain.WechatAdvertDO">
		insert into tb_wechat_advert
		(
			`ID`, 
			`advert_name`, 
			`sort`, 
			`advert_file`, 
			`advert_href`, 
			`is_Release`, 
			`create_date`, 
			`create_by`, 
			`update_date`, 
			`update_by`, 
			`del_flag`
		)
		values
		(
			#{id}, 
			#{advertName}, 
			#{sort}, 
			#{advertFile}, 
			#{advertHref}, 
			#{isRelease}, 
			#{createDate}, 
			#{createBy}, 
			#{updateDate}, 
			#{updateBy}, 
			#{delFlag}
		)
	</insert>
	 
	<update id="update" parameterType="com.winchampion.credit.business.domain.WechatAdvertDO">
		update tb_wechat_advert 
		<set>
			<if test="advertName != null">`advert_name` = #{advertName}, </if>
			<if test="sort != null">`sort` = #{sort}, </if>
			<if test="advertFile != null">`advert_file` = #{advertFile}, </if>
			<if test="advertHref != null">`advert_href` = #{advertHref}, </if>
			<if test="isRelease != null">`is_Release` = #{isRelease}, </if>
			<if test="createDate != null">`create_date` = #{createDate}, </if>
			<if test="createBy != null">`create_by` = #{createBy}, </if>
			<if test="updateDate != null">`update_date` = #{updateDate}, </if>
			<if test="updateBy != null">`update_by` = #{updateBy}, </if>
			<if test="delFlag != null">`del_flag` = #{delFlag}</if>
		</set>
		where ID = #{id}
	</update>
	
	<delete id="remove">
		delete from tb_wechat_advert where ID = #{value}
	</delete>
	
</mapper>