<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>运营中心首页</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>
<div class="panel panel-default">
<!--    <div class="panel-heading">了解系统</div>-->
    <div style="padding: 10px 0 20px 10px;">
        <h3>平台介绍</h3>
        <ul>
            <li>中小企业融资综合信用服务平台（上海）是贯彻落实《关于深入开展“信易贷”支持中小微企业融资的通知》（发改财金〔2019〕1491号）</li>
            <li>《关于促进中小企业健康发展的指导意见》《关于加强金融服务民营企业的若干意见》（中办发〔2019〕6号）等和市委、市政府要求，</li>
            <li>充分利用市信用平台建设基础和“信易贷”项目已有推进成果，进一步加强中小企业融资相关核心数据归集，准确把握国家高度重视民营</li>
            <li>经济特别是中小企业发展、长三角一体化发展上升为国家战略的契机，搭建上海市中小企业融资综合信用服务平台。</li>
            <li>平台采用“公益为主”原则，通过发挥数据采集共享管理、融资供需撮合、企业风控服务、支持精准施策等功能，以金融信用为特征创新</li>
            <li>金融产品，真正做到以信用促融资，为金融机构找企业、中小企业找资金提供便利，缓解中小企业融资难、融资贵问题，助力上海实体</li>
            <li>经济发展。</li>
        </ul>

        <h3>项目模块</h3>
        <ul>
            <li>运营中心</li>
            <li>用户管理</li>
            <li>产品管理</li>
            <li>合作机构管理</li>
            <li>系统管理</li>
        </ul>

<!--        <button class="btn" onclick="openPage('http://10.0.1.153:8088','winchampion')">访问官网</button>-->
    </div>
</div>
</body>
<script src="js/jquery.min.js"></script>
<script src="js/openTab.js"></script>
</html>