<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<!-- 上传图片所用的css -->
 <link href="/css/layui.css" rel="stylesheet">
 <style type="text/css">
 .must-hint{
 	color:red;
 }
</style>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="advertForm">
						<input id="id" name="id" th:value="${problem.id}"  type="hidden">
						<input id="optionsRetain" name="optionsRetain" th:value="${problem.problemOptions}"  type="hidden">
						<input id="problemCodeFormer" name="problemCodeFormer" th:value="${problem.problemCode}"  type="hidden">	
							<div class="form-group">	
								<label class="col-sm-3 control-label">问题编号<b class="must-hint">*</b></label>
								<div class="col-sm-8">
									<input id="problemCode" name="problemCode" th:value="${problem.problemCode}" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">	
								<label class="col-sm-3 control-label">问题简述<b class="must-hint">*</b></label>
								<div class="col-sm-8">
									<input id="problemTitle" name="problemTitle" th:value="${problem.problemTitle}" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">	
								<label class="col-sm-3 control-label">可选项<b class="must-hint">*</b></label>
								<div class="col-sm-8">
									<input name="problemOptions" id="problemOptions" type="checkbox" th:each="p:${capacityList}" th:value="${p.value}"
									 th:text="${p.name}"/>
								</div>
							</div>
							<div class="form-group">	
								<label class="col-sm-3 control-label">备注<b class="must-hint">*</b></label>
								<div class="col-sm-8">
									<input id="problemRemarks" name="problemRemarks" th:value="${problem.problemRemarks}" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="button" class="btn btn-primary" onclick="updateEdit()">保存</button>
									<button type="button" class="btn btn-primary" onclick="goBack()">取消</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/business/problem/problemEdit.js"></script>
	<script type="text/javascript">
	function goBack(){
		var uRef = document.referrer;
		window.location.href=uRef;
	}
	</script>
</body>
</html>
