* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'SourceHanSans-Regular';
    src: url('../fonts/SourceHanSansCN-Regular.otf');
}

@font-face {
    font-family: 'SourceHanSans-Bold';
    src: url('../fonts/SourceHanSansCN-Bold.otf');
}

body {
    font-family: "SourceHanSans-Regular", Arial, serif;
    background: #f7f7f7 url("../images/index_background.png") repeat-x;
}

a {
    color: #f7f7f7;
    text-decoration: none;
}

a:hover {
    color: #f7f7f7;
    text-decoration: underline;
}

.relative {
    position: relative;
}

.clr {
    clear: both;
}

.btn:focus, .btn:active {
    outline: none !important;
}

.icon {
    height: 18px;
    font-size: 18px;
    padding-right: 18px;
    line-height: 18px;
}

.icon_1 {
    background: url("../images/icon_1.png") no-repeat;
}

.icon_10 {
    background: url("../images/icon_10.png") -7px 5px no-repeat;
}

.icon_11 {
    background: url("../images/icon_10.png") -22px -8px no-repeat;
}

.icon_12 {
    background: url("../images/icon_10.png") -7px -20px no-repeat;
}

.icon_13 {
    background: url("../images/icon_10.png") 3px -8px no-repeat;
}

.icon_20 {
    background: url("../images/icon_20.png") 0 0 no-repeat;
}

.icon_21 {
    background: url("../images/icon_20.png") 0 -15px no-repeat;
}

.icon_22 {
    background: url("../images/icon_20.png") -15px 0 no-repeat;
}

.icon_23 {
    background: url("../images/icon_20.png") -15px -15px no-repeat;
}

.icon_30 {
    background: url("../images/icon_30.png") 0 1px no-repeat;
}

.icon_30 {
    background: url("../images/icon_30.png") 0 1px no-repeat;
}

.icon_40 {
    background: url("../images/icon_login.png") -5px 0 no-repeat;
}

.icon_41 {
    background: url("../images/icon_login.png") -5px -24px no-repeat;
}

.icon_42 {
    background: url("../images/icon_login.png") -33px 0 no-repeat;
}

.icon_43 {
    background: url("../images/icon_login.png") -33px -24px no-repeat;
}

.icon_44 {
    background: url("../images/icon_login.png") -61px 0 no-repeat;
}

.icon_45 {
    background: url("../images/icon_login.png") -61px -24px no-repeat;
}

.icon_46 {
    background: url("../images/icon_login.png") -92px 0 no-repeat;
}

.icon_47 {
    background: url("../images/icon_login.png") -92px -24px no-repeat;
}

.icon_success {
    padding-right: 34px;
    font-size: 34px;
    line-height: 34px;
    background: url("../images/success.png") no-repeat;
    background-size: cover;
}

.icon_warning {
    padding-right: 34px;
    font-size: 34px;
    line-height: 34px;
    background: url("../images/not_registe.png") no-repeat;
    background-size: cover;
}


.background_0 {
    background: #ffffff none;
}

.background_1 {
    background: #f7f7f7 none;
}


/* header */
.header {
    width: 100%;
}

.header_top {
    width: 1200px;
    margin: 0 auto;
}

.header_top_regist {
    height: 35px;
    font-size: 12px;
    line-height: 35px;
}

.header_top_regist span {
    color: #f7f7f7;
    float: right;
    margin-left: 40px;
}

.header_top_menu {
    height: 75px;
    font-size: 16px;
    line-height: 35px;
}

.header_top_menu .logo {
    width: 360px;
    height: 50px;
    float: left;
    margin: 7px 0 8px 0;
}

.header_top_menu .menu {
    width: 820px;
    height: 50px;
    float: right;
    line-height: 35px;
    margin: 15px 0 10px 0;
}

.header_top_menu ul li {
    display: block;
    color: #f7f7f7;
    float: right;
    margin-left: 60px;
    position: relative;
    list-style: none;
}

.header_top_menu ul li:hover, .header_top_menu ul .active {
    color: #e83630;
    cursor: pointer;
    border-bottom: 2px solid #e83630;
}

.header_top_menu ul li.county i.menu_icon {
    background: url("../images/icon_10.png") -7px -20px no-repeat;
}

.header_top_menu ul li.county:hover i.menu_icon {
    background: url("../images/icon_10.png") -7px 5px no-repeat;
}

.header_top_menu ul li.county .menu_sub {
    display: none;
    position: absolute;
    left: -175px;
    top: 35px;
    background: #ffffff;
    padding: 20px;
    line-height: 32px;
    border-radius: 4px;
    -moz-border-radius: 4px;
}

.header_top_menu ul li.county:hover .menu_sub {
    display: block;
    z-index: 10;
}

.header_top_menu ul li.county .menu_sub p {
    color: #666666;
    font-size: 14px;
}

.header_top_menu ul li.county .menu_sub a {
    font-weight: bold;
    display: inline-block;
    color: #222222;
    font-size: 16px;
}

.header_top_menu ul li.county .menu_sub a:hover {
    color: #e83630;
    text-decoration: none;
}

.header_top_menu ul li.county .menu_sub i.uparrow {
    position: absolute;
    top: -10px;
    left: 200px;
}

.header_top_menu ul li.county .menu_sub a.middle {
    width: 85px;
    margin: 0 10px 0 12px;
}


/**
鍐呭淇℃伅
 */
.content {
    width: 1200px;
    margin: 0 auto 60px auto;
}

.short_border {
    width: 40px;
    height: 2px;
    margin: 0 auto;
    background: rgba(232, 54, 48, 1);
}

.long_border {
    width: 60px;
    height: 2px;
    margin: 0 auto;
    background: rgba(232, 54, 48, 1);
}

.middle_border {
    width: 50px;
    height: 2px;
    margin: 0 auto;
    background: #FF9027;
}


.content_core {
}

.content_core .fast_searcch {
    width: 280px;
    height: 420px;
    float: left;
    background: #ffffff;
}

.content_core .fast_searcch_top {
    height: 120px;
    background: url("../images/fast_regist_background.png") no-repeat;
}

.content_core .fast_search_form {
    width: 240px;
    margin: 0 auto;
    padding-top: 15px;
}

.content_core .fast_search_form h4 {
    text-align: center;
    margin: 0 auto 15px auto;
}

.content_core .btn_regist {
    width: 190px;
    height: 52px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0 20px 20px 0 rgba(183, 0, 0, 0.5);
    border-radius: 26px;
    font-size: 22px;
    color: #E83630;
    font-weight: bold;
    margin: 30px 0 0 45px;
    border: 0;
    outline: none;
}

.content_core .btn_regist:active {
    border: 0;
}

.content_core .btn_regist span {
    margin-right: 5px;
}

.content_core .dropdown button {
    width: 240px;
    height: 46px;
    margin-top: -1px;
    border-radius: 0;
    outline: none;
    text-align: right;
}

.content_core .dropdown button .desc {
    color: #555555;
    position: absolute;
    left: 10px;
}

.content_core .dropdown-menu {
    width: 240px;
}

.content_core .btn_search {
    margin-top: 20px;
    width: 240px;
    height: 46px;
    border-radius: 4px;
    outline: none;
    font-weight: bold;
    color: rgba(232, 54, 48, 1);
    background: #ffffff;
    border: 1px solid rgba(232, 54, 48, 1);
}

.content_core .btn_search:hover {
    color: #f7f7f7;
    background: linear-gradient(315deg, rgba(232, 54, 48, 1) 0%, rgba(254, 116, 111, 1) 100%);
}

.content_core .advanced_search {
    margin-top: 10px;
    font-size: 12px;
    text-align: center;
}

.content_core .advanced_search a {
    color: #ff9735;
}

.content_core .banner_slide {
    width: 640px;
    height: 420px;
    float: left;
}

.carousel-inner .item img {
    width: 640px;
    height: 420px;
}

.carousel-indicators .active {
    width: 25px;
}

.content_core .fast_publish {
    width: 280px;
    height: 420px;
    float: left;
}

.content_core .fast_publish .pub_top {
    width: 280px;
    height: 280px;
    background: #ffffff;
}

.content_core .fast_publish .pub_bottom {
    width: 280px;
    height: 130px;
    background: #ffffff;
    margin-top: 10px;
}

.content_core .fast_publish .pub_link1, .content_core .fast_publish .pub_link2, .content_core .fast_publish .pub_link3 {
    width: 65px;
    height: 100px;
    cursor: pointer;
    float: left;
    position: relative;
    margin: 15px 0 0 20px;
}

.content_core .fast_publish .pub_link1 {
    background: url("../images/pub_bottom.png") -18px -10px;
}

.content_core .fast_publish .pub_link2 {
    background: url("../images/pub_bottom.png") -94px -10px;
}

.content_core .fast_publish .pub_link3 {
    background: url("../images/pub_bottom.png") -170px -10px;
}

.content_core .fast_publish .pub_bottom b {
    display: block;
    color: #333333;
    text-align: center;
    font-size: 16px;
    margin-top: 70px;
}

.content_hot {
    margin-top: 40px;
    width: 1200px;
}

.content_hot .hot_title {
    font-size: 24px;
}

.content_hot .hot_title .hot_logo {
    float: left;
}

.hot_icon {
    float: left;
    margin-top: -15px;
}

.hot {
    float: left;
    padding: 0 10px 0 10px;
}

.content_hot .hot_title .hot_title_info {
    float: left;
    color: rgba(85, 85, 85, 1);
}

.content_hot .hot_title .notice {
    margin-top: 5px;
    float: right;
    width: 730px;
}

.notice_icon {
    float: right;
    margin-right: 5px;
}

.content_hot .hot_title .notice_info {
    float: right;
    height: 20px;
    max-width: 700px;
    overflow: hidden;
    font-size: 14px;
    line-height: 20px;
}

.content_hot .hot_info {
    margin-top: 20px;
    position: relative;
}

.content_hot .hot_info .hot_background {
    width: 1100px;
    height: 420px;
    top: 0;
    left: 50px;
    position: absolute;
    background: #f3a861;
    border-radius: 8px;
    z-index: -11;
}

.content_hot .hot_info .info_list {
    width: 100%;
    height: 370px;
    padding-top: 50px;
}

.info_detail {
    position: relative;
    /* float: left; */
    width: 290px;
    height: 320px;
    margin-left: 10px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.info_detail .mpmd_icon {
    position: absolute;
    width: 40px;
    height: 65px;
    left: 0;
    top: 0;
    background: url("../images/mpmd_icon.png") no-repeat;
}

.info_detail .info_type {
    margin: 25px auto 0 auto;
    text-align: center;
}

.info_detail .info_type .bank_type {
    display: inline-block;
    font-size: 16px;
    color: #333333;
    margin-left: -3px;
}

.info_detail .info_type .type {
    font-size: 20px;
}

.bank {
    display: inline-block;
    vertical-align: top;
   /*  width: 36px; */
    width: 90px;
    height: 30px;
}

.bank1 {
    background: url("../images/banks.png") -9px -2px no-repeat;
}

.bank2 {
    background: url("../images/banks.png") -50px -2px no-repeat;
}

.bank3 {
    background: url("../images/banks.png") -92px -2px no-repeat;
}

.info_detail .desc_info {
    text-align: center;
    font-size: 14px;
    color: #888888;
    margin: 30px 0 0 0;
}

.info_detail .rate_info {
    width: 140px;
    margin: 10px auto;
    height: 24px;
    border-radius: 12px;
    text-align: center;
    color: #FF9027;
    font-size: 12px;
    line-height: 22px;
    border: 1px solid rgba(255, 144, 39, 1);
}

.info_detail .max_amount {
    text-align: center;
    font-size: 40px;
    font-weight: normal;
    color: rgba(232, 54, 48, 1);
    line-height: 45px;
    text-shadow: 0 8px 8px rgba(232, 54, 48, 0.3);
}

.btn_loan {
    margin: 15px 0 0 66px;
    width: 160px;
    height: 46px;
    background: linear-gradient(315deg, rgba(232, 54, 48, 1) 0%, rgba(254, 116, 111, 1) 100%);
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
    line-height: 24px;
    border: 0;
    outline: none;
}

.btn_loan:active {
    border: 0;
}

.hot_info .hot_more {
    width: 130px;
    height: 36px;
    margin: 30px auto 0 auto;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0 10px 20px 0 rgba(232, 54, 48, 0.15);
    border-radius: 18px;
    font-size: 14px;
    font-weight: 400;
    color: rgba(232, 54, 48, 0.8);
    line-height: 32px;
    text-align: center;
}

.arrow_icon {
    position: relative;
    top: 1px;
    width: 24px;
    font-size: 24px;
    padding-right: 24px;
    background: url("../images/arrow_icon.png") 0 0 no-repeat;
}

.content .content_loan {
    margin-top: 30px;
}

.content_loan .loan_title {
    width: fit-content;
    line-height: 26px;
    margin-left: 415px;
}

.content_loan .loan_title .title_info {
    float: left;
    font-size: 24px;
    font-weight: bold;
    color: #555555;
}

.content_loan .loan_title .title_left, .content_loan .loan_title .title_right {
    float: left;
    margin-top: 7px;
    width: 86px;
    height: 14px;
}

.content_loan .loan_title .title_left {
    margin-right: 10px;
    background: url("../images/title_left.png") 0 0 no-repeat;
}

.content_loan .loan_title .title_right {
    margin-left: 10px;
    background: url("../images/title_right.png") 0 0 no-repeat;
}

.content_loan .loan_title .title_more {
    color: #888888;
    float: left;
    margin-left: 340px;
}

.content_loan .loan_title .title_more a {
    color: #888888;
    font-weight: 500;
}

.content_loan .loan_title .title_more a:hover {
    text-decoration: none;
}

.content_loan .loan_list {
    width: 100%;
    height: 320px;
    margin-top: 25px;
}

.icon_company {
    position: relative;
    top: 1px;
    height: 22px;
    padding-right: 22px;
    margin-right: 10px;
    background: url("../images/icon_company.png") 0 0 no-repeat;
}

.icon_person {
    position: relative;
    top: 1px;
    padding-right: 22px;
    height: 22px;
    margin-right: 10px;
    background: url("../images/icon_person.png") 0 0 no-repeat;
}

.content .content_partner {
    margin-top: 40px;
}

.content_partner .partner_title {
    width: fit-content;
    font-size: 24px;
    font-weight: bold;
    color: #555555;
    margin: 0 auto;
}

.content_partner .partner_list {
    padding-bottom: 20px;
    background: #ffffff;
}

.content_partner .partner_list ul li {
    list-style: none;
    width: 150px;
    height: 55px;
    margin: 20px 0 0 42px;
    float: left;
}

.content_partner .partner_list ul li img {
    width: 150px;
    height: 50px;
}


/**
搴曢儴淇℃伅
 */
.footer {
    width: 100%;
    height: 200px;
    background: #555555;
}

.footer h4 {
    font-size: 20px;
    text-align: center;
    margin: 0;
    padding-top: 30px;
    color: #FFFFFF;
}

.footer .links {
    margin: 10px auto 0 auto;
    width: 1125px
}

.footer .links .dropdown {
    float: left;
}

.footer .links .dropdown button {
    width: 280px;
    line-height: 30px;
    text-align: left;
    padding: 0 10px;
    border: 0;
    background: #555555;
    color: #ffffff;
    box-shadow: none;
}

.footer .links .dropdown-menu {
    color: #555555;
    background: #cccccc;
}

.footer .links .dropdown-menu > li > a:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: #cccccc;
}

.footer .links .open > .dropdown-toggle.btn-default:focus, .footer .links .open > .dropdown-toggle.btn-default:hover {
    background: #555555;
    color: #ffffff;
}

.footer .links .right_border {
    float: left;
    height: 20px;
    margin-top: 5px;
    border-right: 1px solid #ffffff;
}

.company_info {
    margin-top: 65px;
    width: 100%;
    font-size: 12px;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 18px;
    text-align: center;
}


/*
宸︾鎮诞妗�
 */
.tips_left {
    width: 86px;
    position: fixed;
    margin-top: -140px;
    left: 10px;
    top: 50%;
}

.tips_left .credit_report {
    height: 126px;
    margin-top: 10px;
    background: #ffffff;
    border-radius: 8px;
    padding: 0 10px;
    text-align: center;
    color: #555555;
}

.tips_left .icon_credit_1, .tips_left .icon_credit_2 {
    padding-right: 50px;
    font-size: 50px;
}

.tips_left .icon_credit_1 {
    background: url("../images/icon_credit_1.png") no-repeat;
}

.tips_left .icon_credit_2 {
    background: url("../images/icon_credit_2.png") no-repeat;
}


/*
鍙崇鎮诞妗�
 */
.tips_right {
    width: 60px;
    position: fixed;
    margin-top: -205px;
    right: 0;
    top: 50%;
    background: #ffffff;
}

.tips_right .fast_menu_name {
    font-size: 14px;
    text-align: center;
    color: #ffffff;
    line-height: 20px;
    padding: 10px 12px;
    background: #FF9027;
}

.tips_right .fast_menu {
    font-size: 12px;
    text-align: center;
    line-height: 14px;
    font-weight: 400;
    color: #555555;
    padding: 5px;
    cursor: pointer;
}

.tips_right .fast_menu:hover {
    color: #FF9027;
}

.tips_right .fast_menu p {
    margin: 5px 0 0 0;
}

.tips_right hr {
    width: 60%;
    border-top: 1px solid #D8D8D8;
    background: #ffffff;
    margin: 0 20%;
}

.icon_tips_1, .icon_tips_2, .icon_tips_3, .icon_tips_4, .icon_tips_5, .icon_tips_6 {
    font-size: 22px;
    padding-right: 22px;
    line-height: 22px;
}

.tips_right .fast_menu .icon_tips_1 {
    background: url("../images/icon_tips_1.png") no-repeat;
}

.tips_right .fast_menu:hover .icon_tips_1 {
    background: url("../images/icon_tips_2.png") no-repeat;
}

.tips_right .fast_menu .icon_tips_2 {
    background: url("../images/icon_tips_3.png") no-repeat;
}

.tips_right .fast_menu:hover .icon_tips_2 {
    background: url("../images/icon_tips_4.png") no-repeat;
}

.tips_right .fast_menu .icon_tips_3 {
    background: url("../images/icon_tips_5.png") no-repeat;
}

.tips_right .fast_menu:hover .icon_tips_3 {
    background: url("../images/icon_tips_6.png") no-repeat;
}

.tips_right .fast_menu .icon_tips_4 {
    background: url("../images/icon_tips_7.png") no-repeat;
}

.tips_right .fast_menu:hover .icon_tips_4 {
    background: url("../images/icon_tips_8.png") 0 -1px no-repeat;
}

.tips_right .fast_menu .icon_tips_5 {
    background: url("../images/icon_tips_9.png") no-repeat;
}

.tips_right .fast_menu:hover .icon_tips_5 {
    background: url("../images/icon_tips_10.png") no-repeat;
}

.tips_right .fast_menu .icon_tips_6 {
    background: url("../images/icon_tips_11.png") no-repeat;
}

.tips_right .fast_menu:hover .icon_tips_6 {
    background: url("../images/icon_tips_12.png") no-repeat;
}


.close {
    margin: -10px -10px 0 0;
    outline: none;
}

.login_dialog {
    width: 320px;
    margin-top: 120px;
}

.login {
    background: #ffffff;
    border-radius: 8px;
    padding: 20px;
}

.login_title {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #222222;
    line-height: 27px;
    margin: 0;
}

.login .input-group {
    width: 100%;
    position: relative;
}

.login .input-group .icon {
    position: absolute;
    z-index: 10;
    left: 10px;
    top: 13px;
}

.login .input-group input {
    text-indent: 30px;
    height: 45px;
    margin-top: -1px;
    border-radius: 0;
}

.login .input-group .verify_code {
    position: absolute;
    right: 10px;
    top: 9px;
    z-index: 10;
}

.login .input-group .sms_code {
    position: absolute;
    right: 10px;
    top: 12px;
    color: #FF9027;
    cursor: pointer;
    z-index: 10;
}

.login .remember_me {
    font-size: 12px;
    line-height: 18px;
    margin: 10px 0 5px 0;
}

.login .remember_me input[type=checkbox] {
    width: 14px;
    height: 14px;
    margin: 3px;
    background: #FF9027;
    border-color: #FF9027;
}


.login .remember_me a {
    color: #FF9027;
    float: right;
}

.login .login_btn {
    margin-top: 20px;
    width: 280px;
    height: 46px;
    background: linear-gradient(315deg, rgba(232, 54, 48, 1) 0%, rgba(254, 116, 111, 1) 100%);
    border-radius: 4px;
    color: #ffffff;
    font-size: 16px;
    line-height: 46px;
    border: 0;
    outline: none;
}

.login .login_btn:active {
    border: 0;
    outline: none;
}

.login p {
    line-height: 25px;
    text-align: center;
    font-size: 12px;
    color: #888888;
    margin-bottom: 0;
}

.login a {
    color: #FF9027;
}


.financing_dialog {
    width: 340px;
    margin-top: 120px;
}

.financing {
    padding: 20px;
}

.financing p {
    color: #888888;
    text-align: center;
    margin: 10px 0 0 0;
}

.financing span {
    font-size: 16px;
}

.financing a {
    font-size: 12px;
    color: #E83630;
}

.financing .financing_title {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.financing p b {
    color: #E83630;
}

.financing p span {
    font-size: 12px;
    color: #888888;
}

.financing .financing_content {
    margin: 10px 0;
}

.financing .btn {
    color: #D8D8D8;
    background: #ffffff;
    border: 1px solid #D8D8D8;
    margin: 10px 0 0 8px;
}

.financing .btn:hover, .financing .btn:active {
    color: #E83630;
    background: #ffffff;
    border: 1px solid #E83630;
    box-shadow: none;
}

.financing .pre {
    float: left;
    color: #E83630;
    width: 80px;
    height: 36px;
    background: #ffffff;
    border-radius: 4px;
    margin-left: 60px;
    border: 1px solid #E83630;
}

.financing .pre:hover {
    color: #ffffff;
    background: linear-gradient(315deg, rgba(232, 54, 48, 1) 0%, rgba(254, 116, 111, 1) 100%);
}

.financing .next, .financing .submit {
    float: left;
    color: #ffffff;
    width: 120px;
    height: 36px;
    background: linear-gradient(315deg, rgba(232, 54, 48, 1) 0%, rgba(254, 116, 111, 1) 100%);
    border-radius: 4px;
    border: 0;
}

.financing .next:hover, .financing .submit:hover {
    border: 0;
    color: #ffffff;
    background: linear-gradient(315deg, rgba(232, 54, 48, 1) 0%, rgba(254, 116, 111, 1) 100%);
}

.financing .company_select {
    position: relative;
    width: 270px;
    margin: 10px 0 0 8px;
}

.financing .dropdown-toggle {
    width: 270px;
    background: #ffffff;
    border: 1px solid #D8D8D8;
    text-align: left;
    margin: 0;
}

.financing .dropdown-menu {
    width: 270px;
}

.financing .caret {
    position: absolute;
    right: 10px;
    top: 15px;
}

.financing .active {
    color: #E83630;
    background: #ffffff;
    border: 1px solid #E83630;
    box-shadow: none;
}

.financing .width_130 {
    width: 130px;
}


.publish_dialog {
    width: 700px;
    margin-top: 120px;
}

.publish h4 {
    font-weight: bold;
    text-align: center;
}

.publish p {
    color: #888888;
    font-size: 12px;
    text-align: center;
}

.publish .btn {
    color: #D8D8D8;
    background: #ffffff;
    border: 1px solid #D8D8D8;
    margin: 10px 0 0 8px;
}

.publish .btn:hover, .publish .btn:active {
    color: #E83630;
    background: #ffffff;
    border: 1px solid #E83630;
    box-shadow: none;
}

.publish .active {
    color: #E83630;
    background: #ffffff;
    border: 1px solid #E83630;
    box-shadow: none;
}

.publish .publish_left {
    float: left;
    width: 300px;
    margin-left: 10px;
}

.publish .publish_left .btn {
    width: 130px;
}

.publish .publish_left .publish_btn_all {
    margin-top: 20px;
    width: 270px;
}

.publish .publish_border {
    float: left;
    height: 250px;
    margin: 70px 20px 10px 20px;
    border-right: 1px solid #D8D8D8;
}

.publish .publish_right {
    float: left;
    width: 300px;
}

.publish .publish_right label {
    position: relative;
    margin: 20px 0 0 0;
}

.publish .publish_right label span {
    position: absolute;
    top: 12px;
    left: 10px;
    color: #555555;
    font-size: 14px;
}

.publish .publish_right input[type=text], .publish .publish_right .dropdown-toggle {
    width: 290px;
    height: 45px;
    margin: -1px 0 0 0;
    border-radius: 0;
    text-align: left;
    color: #888888;
    font-size: 14px;
    outline: none;
}

.publish .publish_right .dropdown-toggle:hover, .publish .publish_right .dropdown-toggle:active {
    border: 1px solid #D8D8D8;
}

.publish .publish_right input[type=text] {
    text-align: right;
    padding-right: 10px;
}

.publish .publish_right .dropdown button {
    text-align: right;
}

.publish .publish_right .dropdown button .desc {
    color: #555555;
    position: absolute;
    left: 10px;
}

.publish .publish_right .dropdown-menu {
    width: 290px;
}

.publish .publish_submit {
    width: 280px;
    height: 36px;
    background: linear-gradient(315deg, rgba(232, 54, 48, 1) 0%, rgba(254, 116, 111, 1) 100%);
    border-radius: 4px;
    color: #ffffff;
    border: 0;
}

.publish .publish_submit:hover, .publish .publish_submit:active {
    background: linear-gradient(315deg, rgba(232, 54, 48, 1) 0%, rgba(254, 116, 111, 1) 100%);
    color: #ffffff;
    border: 0;
}





.pub_success_dialog {
    width: 340px;
    margin-top: 120px;
}

.pub_success_dialog h4 {
    font-size: 20px;
    line-height: 34px;
    margin-top: 35px;
}

.pub_success_dialog h4 span{
    margin-left: 5px;
    color: #7ED321;
    position: relative;
    top: -5px
}

.pub_success_dialog .count_down{
    font-size: 12px;
    margin: 30px 0 30px 0;
    text-align: center;
    color: #888888;
}





.not_registe_dialog {
    width: 340px;
    margin-top: 120px;
}

.not_registe_dialog h4 {
    font-size: 20px;
    line-height: 34px;
    margin-top: 35px;
}

.not_registe_dialog h4 span{
    margin-left: 5px;
    color: #FF9027;
    position: relative;
    top: -5px
}

.not_registe_dialog .count_down{
    font-size: 12px;
    margin: 30px 0 50px 0;
    text-align: center;
    color: #888888;
}