<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<!-- 上传图片所用的css -->
<link href="/css/layui.css" rel="stylesheet">
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		<div class="col-sm-12">
			<div class="ibox float-e-margins">
				<div class="ibox-content">
					<form class="form-horizontal m-t" id="homeFinEntForm">
						<input id="id" name="id" th:value="${homeFinEntDO.id}"
							   class="hidden">
						<div class="form-group">
							<label class="col-sm-3 control-label">金融机构LOGO：</label>
							<div class="col-sm-8">
								<button type="button" class="layui-btn" id="finFiles">
									<i class="fa fa-cloud"></i>上传文件
								</button>
								<input id="finFile" name="finFile" class="form-control" type="hidden" th:value="${homeFinEntDO.finFile}" />
								<div>
									<img alt="" th:src="${homeFinEntDO.finFile}" id="baseFile">
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">跳转URL：</label>
							<div class="col-sm-8">
								<input id="finUrl" name="finUrl" th:value="${homeFinEntDO.finUrl}"
									   class="form-control" type="text">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">排序优先级：</label>
							<div class="col-sm-8">
								<input id="sort" name="sort" th:value="${homeFinEntDO.sort}"
									   class="form-control" type="text">
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-8 col-sm-offset-3">
								<button type="submit" class="btn btn-primary">保存</button>
								<a class="btn btn-primary" onclick="closePage()">取消</a>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<div th:include="include::footer"></div>
<script type="text/javascript" src="/js/appjs/business/homeFinEnt/homeFinEntEdit.js">
</script>
<!-- 全局js -->
<!-- 上传图片所用的js -->
<script src="/js/layui.js"></script>
<script src="/js/plugins/clipboard/clipboard.min.js"></script>
<script src="/js/vue.min.js"></script>
<script type="text/javascript">
	layui.use('upload', function () {
		var upload = layui.upload;
		//执行实例
		var uploadInst = upload.render({
			elem: '#finFiles', //绑定元素
			url: '/common/sysFile/uploadBase64', //上传接口
			size: 1000,
			accept: 'file',
			done: function (r) {
				layer.msg(r.msg);
				$("#baseFile").attr("src", r.base64 );
				$("#finFile").val(r.base64);
			},
			error: function (r) {
				layer.msg(r.msg);
			}
		});
	});
</script>
</body>
</html>