<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body>
<div class="panel panel-default">
	<div style="padding: 10px 0 20px 20px;">
		<input id="companyId" type="hidden" value="${customerCompanyDO.id}">
		<h5>企业信息</h5>
		<table style="width: 50%" class="table table-bordered">
			<tr>
				<th>企业名称</th>
				<td><span th:text="${customerCompanyDO.cname}"></span></td>
				<th>统一社会信用代码</th>
				<td><span th:text="${customerCompanyDO.creditCode}"></span></td>
			</tr>
			<tr>
				<th>当前认证状态</th>
				<td><span th:text="${customerCompanyDO.isAuthenticationDesc}"></span></td>
				<th>所属账户</th>
				<td>
					<a th:href='@{/business/userManage/registerAccountDetail/{customerId}(customerId=${customerCompanyDO.customerId})}'>
						<span th:text="${customerCompanyDO.customerPhone}"></span>
					</a>
				</td>
			</tr>
			<tr>
				<th>创建时间</th>
				<td><span th:text="${customerCompanyDO.createDate}"></span></td>
				<th>最后认证时间</th>
				<td><span th:text="${customerCompanyDO.createAuthentication}"></span></td>
			</tr>
			<tr>
				<th>企业唯一标识</th>
				<td><span th:text="${customerCompanyDO.companyNo}"></span></td>
				<th></th>
				<td></td>
			</tr>
		</table>

		<h5>企业认证状态变更记录</h5>
		<table id="companyAuthTable" data-mobile-responsive="true">
		</table>

		<h5>企业信用报告查询记录</h5>
		<table id="reportTable" data-mobile-responsive="true">
		</table>

		<button class="btn" onclick="window.history.back(-1);">返回</button>
	</div>
</div>
</body>
<div th:include="include :: footer"></div>
<script type="text/javascript"
		src="/js/appjs/business/userManage/companyDetail.js?v=20200306001"></script>
</html>